{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
  {{ if site.Params.search }}
  <input
    id="search"
    type="text"
    placeholder="{{ T "search_placeholder" }}"
    aria-label="{{ T "search_aria_label" }}"
  />
  {{ end }}
  <ul class="patterns-list" id="list">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use href="#bookmark"></use>
          </svg>
          {{ .Params.link_title }}
        </a>
      
      {{ with .Params.linktypes }}
      <i>(
        {{- range $k, $v := . }}
      {{- if $k }}, {{ end }}
      {{ $href := print ("linktypes/" | relLangURL) (. | urlize) "/" }}
      <a href="{{ $href }}" title="all links of linktype {{ . }}">{{ . }}</a>
        {{ end }}
      )</i>
        {{ end }}
        {{ with .Params.rating }}
        {{ "⭐" | strings.Repeat . }}
        {{ end }}
      </h2>
      {{ with .Params.authors}}
      <div class="tags">
      by  
      {{- range $k, $v := . }}
      {{- if $k }}, {{ end }}
      {{ $href := print ("authors/" | relLangURL) (. | urlize) "/" }}
      <a href="{{ $href }}" title="go to the author overview page of {{ . }}">{{ . }}</a>
      {{- end }}
    </div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
